* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
    scroll-behavior: smooth;

    // @include respond(tab-port) {
    //     font-size: 50%; // 1rem = 8px, 8/16 = 50%
    // }

    // @include respond(tab-land) {
    //     font-size: 56.25%; // 1rem = 9px
    // }

    // @include respond(big-desktop) {
    //     font-size: 75%; // 1rem = 12px
    // }
}

body,
button {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}
